{% extends 'search/base.html' %}

{% block title %}
Image browser
{% endblock %}

{% block content %}
<form role="form" method="get" action=".">
    <div class="form-group">
        <label for="id_imageid">Image Range</label>
        {{ form.imageids }}
    </div>
    <button type="submit" class="btn btn-default">Fetch</button>
</form>
{% if images %}
<h2>Results</h2>
<div class="container" id="results">                                
    <div class="row">
        {% for image in images %}
        <div class="col-md-2">
            <div class="thumbail">
                <img src="{{ MEDIA_URL }}{{ image.filename }}" class="img-responsive"
                    id="{{ image.imageid }}">
            </div>
            <div class="caption">
                [{{ image.imageid }}] {{ image.filename }}
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    $('#results').on('click', function(event) {
        window.location.href = '/search/?imageid='+event.target.id
    });
});
</script>
{% endblock %}
