{% extends 'search/base.html' %}

{% block title %}
Image search
{% endblock %}

{% block content %}
<form role="form" method="get" action=".">
    <div class="form-group">
        <label for="id_imageid">SeedId</label>
        {{ form.imageid }}
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
{% if seed %}
<h2>Seed</h2>
<div class="row">
   <div class="col-sm-2 col-md-2">
      <div class="thumbnail">
         <img src='{{MEDIA_URL}}{{ seed.filename }}'>
      </div>
      <div class="caption">
         [{{ seed.imageid }}] {{ seed.filename }}
      </div>
   </div>
</div>

{% if results %}
<h2>Results</h2>
<div class="container" id="results">
    <div class="row">
        {% for result in results %}
        <div class="col-md-2">
            <div class="thumbnail">
                <img src='{{MEDIA_URL}}{{ result.image.filename }}' id="{{ result.image.imageid }}">
            </div>
            <div class="caption">
                [{{ result.image.imageid }}:{{ result.score|floatformat:"2" }}]
                {{ result.image.filename }}
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% else %}
<h2>No results</h2>
{% endif %}
{% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    $('#results').on('click', function(event) {
        window.location.href = '/search/?imageid='+event.target.id
    });
});
</script>
{% endblock %}

def search(request):                                                 
    seed = None
    results = None

    def _process(seedid):
        if not seedid:
            return None, None
        
        try:
            seed = Image.objects.get(imageid=seedid)
        except ObjectDoesNotExist:
            seed = Image(imageid=seedid)
            return seed, None

        results = []
        for resultid,score in similarto(seedid,100,'l2',2000,4000):
            try:
                result = Image.objects.get(imageid=resultid)
            except ObjectDoesNotExist:
                result = Image(imageid=resultid,filename='/')
            results.append(Result(image=result,score=score))

        return seed,results                                             

    if request.method == 'GET':
        form = GetImageForm(request.GET)
        if form.is_valid():
            seedid = form.cleaned_data['imageid']
            seed,results = _process(seedid)
    else:
        form = GetImageForm()
    return render(request, 'search/search.html', { 'form' : form, \
            'seed' : seed, 'results' : results })
