{% extends 'search/base.html' %}

{% block title %}
Image Search
{% endblock %}

{% block content %}
<form role="form" method="post" action="."> {% csrf_token %}



<ul class="list-inline">
 <li>
  <h5>Bin Size</h5>
    <label class="radio-inline">
         <input type="radio" name="bins" value="32"> 32
    </label>
    <label class="radio-inline">
         <input type="radio" name="bins" value="64"> 64
    </label>
    <label class="radio-inline">
         <input type="radio" name="bins" value="128"> 128
    </label>                                                      
 </li>
 <li>
  <h5>Transformer</h5>
    <label class ="radio-inline">
      <input type ="radio" name = "transformer" value="gaussian"> Gaussian
    </label>
    <label class ="radio-inline">
      <input type="radio" name="transformer" value="fourier"> Fourier
    </label>                                                                     
 </li>
</ul>                                                                            


    <div class="form-group">
         <label for="id_imageid">Image Range</label>
         {{ form.imageids }}
    </div>
     <button type="submit" class="btn btn-default">Fetch</button>
 </form>
 {% if images %}
 <h2>Results</h2>
 <div class="container" id="results">                                
       <div class="caption">
         Search Time: {{ search_time }} seconds
       </div>
     </li>
   </ul>
     <div class="row">
        {% for image in images %}
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="{{ MEDIA_URL }}{{ image.filename }}" class="img-responsive"
                    id="{{ image.imageid }}">
            </div>
        </div>
        {% if forloop.counter|divisibleby:6 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>


</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    $('#results').on('click', function(event) {
        window.location.href = '/search/?imageid='+event.target.id
    });
});
</script>
{% endblock %}                                                                                          
